html {
  box-sizing: border-box;
  font-size: 16px;

  @include desktop {
    // font-size: 24px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// * add this class to <a href="#"></a>
.link {
  display: block;
  text-decoration: none;
  
  &:hover {
    text-decoration: none;
  }
}

// * add this class to <ul> </ul>
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  // @include desktop {
  //   max-width: 135%;
  //   width: 135%;
  // }
}

body {
  font-family: 'Acrom', sans-serif;
  color: $main-text-color;
}

h1 {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: rem(1);
  height: rem(1);
  margin: rem(-1);
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.big-size img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}