@font-face {
	font-family: 'Futura';
	src: local url('../fonts/futura/Futura Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy/Gilroy-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Minion';
	src: url('../fonts/minion/MinionPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}