@import './normalize.scss';
@import './fonts.scss';
@import './helpers/variables.scss';
@import './helpers/placeholders.scss';
@import './helpers/mixin.scss';
@import './base.scss';

// * Ð¡ommon use
@import './components/main-btn.scss';

@import './components/sec-1.scss';
@import './components/sec-1-top-header.scss';