// TODO настроим после рассмотрения макета
%larg-title {
  color: #000;
}

%middle-title {
  color: #000;
}

%min-title {
  color: #000;
}

%normal-text {
  color: #000;
}

%stretched-text {
  color: #000;
}
