$main-white-color: #fff;
$decs-header-footer-color: #afb0b3;
$main-text-color: #000;
$desc-text-color: #3f4144;
$go-it-header-color: #00000033;
$stylish-color-orange: #ff6b08;
$stylish-color-cyan: #16ebfe;
$bg-header-footer-color: #181c27;
$button-shadow-orange: 0px 5px 6px 0px rgba(196, 87, 15, 0.26);
$main-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.15);
$videocourse-price-color:#052139;
$videocourse-price-box-shadow: 0px 14px 27px 0px rgba(0, 0, 0, 0.15);
$videocourse-buy-menu: #0000005c;
$background-text-color: #f7f7f7;
$footer-button-color: #1b4371;
$footer-privaty-section-color: #202020;
$footer-privaty-text-color: #65666a;