.page-footer {
  @include content-center-flex($type: 'all');
  justify-content: space-around;
  background-color: $videocourse-price-color;
  height: rem(100);
  min-width: rem(480);
  border-top: rem(1) solid #d1d2d4;
}

.contact-block {
  max-width: rem(80);
}

.contact-footer {
  color: $main-white-color;
  font-family: $font-first;
  font-size: rem(10);
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;

  &__info {
    color: $decs-header-footer-color;
    font-family: $font-first;
    font-size: rem(9);
    font-weight: 400;
    line-height: rem(11);
    letter-spacing: 0.035em;
  }
}

.contact-btn {
  @include transition($transition: all 0.2s linear);
  display: block;
  width: rem(120);
  height: rem(20);
  color: $main-white-color;
  font-family: $font-first;
  font-size: rem(9);
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: rem(1) solid $footer-button-color;
  cursor: pointer;

  &:hover {
    color: $stylish-color-orange;
  }
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(23);
  background-color: $footer-privaty-section-color;

  &__logo {
    padding-right: rem(14);
  }
}

.privacy-block {
  @include content-center-flex($type: 'all');
  align-content: stretch;
  width: rem(330);

  &__link {
    @include transition($transition: all 0.2s linear);
    color: $footer-privaty-text-color;
    font-family: $font-first;
    font-size: rem(6);
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.06em;

    &:hover {
      color: $stylish-color-orange;
    }
  }
}
