.wave-btn__link {
  position: relative;
  width: 100%;
  // width: rem(219);
  // min-height: rem(54);
  min-height: rem(20);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease 0s;
  overflow: hidden;
  box-shadow: $button-shadow-orange;


  &:hover {
    border-bottom-left-radius: rem(4);
    border-bottom-right-radius: rem(4);
    transition: all 0.8s ease 0.2s;
  }

  &:hover .wave-btn__waves {
    top: 0;
  }

  &:hover .wave-btn__text {
    color: $main-text-color;
  }
}

.wave-btn__text {
  position: relative;
  font-family: 'Acrom ExtraBold', sans-serif;
  font-size: rem(12);
  text-transform: uppercase;
  line-height: rem(18);
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: $main-white-color;
  transition: all 0.8s ease 0.2s;
  z-index: 1;
}

.wave-btn__waves {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: rem(218);
  background-color: $stylish-color-orange;
  transition: all 0.8s ease 0s;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }

  &:before {
    background-color: $main-white-color;
    border-radius: 48%;
    animation: waves 5s infinite linear;
  }

  &:after {
    background-color: rgba($main-white-color, 0.5);
    border-radius: 44%;
    animation: waves 10s infinite linear;
  }
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
