.sec-16 {
  padding-top: rem(25);
  padding-bottom: rem(45);
}

.five-numb::before {
  content: '[ 005 ]';
  margin-top: rem(5);
}

.box-text {
  display: inline-block;
  color: $main-text-color;
  font-size: rem(17);
  font-family: $font-first;
  font-weight: 500;
  margin-left: rem(45);
  margin-top: rem(40);
  line-height: 1.7;

  & .box-sentence {
    background-color: $stylish-color-cyan;
  }
}

.box-price {
  margin: 0;
  padding: 0;
  position: relative;
}

.price {
  position: absolute;
  display: block;
  bottom: 6%;
  right: 10%;
  font-size: rem(30);
  font-weight: 800;
  color: $main-text-color;
}

.price-tag {
  position: relative;
  top: rem(-18);
  display: block;
  text-decoration: line-through;
  font-size: rem(17);
  font-family: $font-first;
  font-weight: 800;
  color: #3c3b40;
}
