.sec-14 {
    padding-top: rem(25);
    padding-bottom: rem(45);
  }
    
  .title-sec {
    text-align: left;
    font-size: rem(13.5);
    font-family: $font-first;
    font-weight: 800;
    padding-bottom: rem(33);
    text-transform: uppercase;
    line-height: rem(19.5);
  }
  
