.top-slider-dots {
  min-height: rem(35);
  display: none;

  @include tablets {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Лента слайдов */
.top-slider .slick-track {
  display: flex;
}

/* Ограничивающая оболочка */
.top-slider .slick-list {
  overflow: hidden;
}

/* Точки (булиты) */
.top-slider-dots .slick-dots {
  display: flex;
  list-style: none;
  // order: -1;
}

.top-slider-dots .slick-dots li {
  margin-right: rem(6);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: rem(-7);
    left: rem(14);
    width: rem(2);
    height: rem(14);
    display: block;
    background-color: transparent;
    transition: all 0.4s linear;
  }

  &::before {
    content: '';
    position: absolute;
    top: rem(19);
    left: rem(14);
    width: rem(2);
    height: rem(2);
    display: block;
    background-color: $main-white-color;
    transition: all 0.4s linear;
  }

  &:first-child button::after {
    content: '01';
  }

  &:nth-child(2) button::after {
    content: '02';
  }
}

/* Активная точка */
.top-slider-dots .slick-dots li.slick-active {
  & button::after {
    transform: rotate(-90deg);
    font-size: rem(15);
  }

  &::before {
    opacity: 0;
  }
  &::after {
    background-color: $main-white-color;
  }
}

/* Элемент точки */
.top-slider-dots .slick-dots li button {
  border: none;
  font-size: 0;
  background-color: transparent;

  &:hover::after {
    color: $stylish-color-orange;
  }

  &::after {
    display: block;
    font-size: rem(8.75);
    font-weight: 700;
    color: $main-white-color;
    transition: all 0.4s linear;
    cursor: pointer;
  }
}
