.list-sentence {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: rem(28);
}

.list-article {
  display: block;
  position: relative;
  line-height: rem(20.31);

  &::before {
    display: block;
    content: '[ 001 ]';
    position: absolute;
    font-size: rem(13);
    font-family: $font-first;
    font-weight: 700;
    color: $main-white-color;
    text-align: center;
    width: rem(55);
    height: rem(20);
    background-color: $stylish-color-orange;
    top: rem(19);
    left: rem(-50);
    transform: rotate(-90deg);
  }
}

.two-numb::before {
  content: '[ 002 ]';
}

.three-numb::before {
  content: '[ 003 ]';
}

.four-numb::before {
  content: '[ 004 ]';
}

.five-numb::before {
  content: '[ 005 ]';
}

.six-numb::before {
  content: '[ 006 ]';
  top: rem(25);
}

.title-article {
  margin: 0;
  padding: 0;
  color: $main-text-color;
  font-size: rem(13);
  font-family: $font-first;
  font-weight: 700;
  padding-bottom: rem(15);
}

.article-text {
  color: $desc-text-color;
  font-size: rem(13);
  font-family: $font-first;
  font-weight: normal;
  padding-bottom: rem(30);
}

.click {
  margin: 0;
  padding: 0;
  display: block;
  width: rem(215);
  height: rem(50);
  margin-top: rem(38);
  border: none;
  text-transform: uppercase;
  font-family: $font-first;
  font-weight: 800;
  background-color: $stylish-color-orange;
  color: $main-white-color;
  font-size: rem(11);
}

.link_click {
  text-transform: uppercase;
  text-decoration: none;
}
