.sec-5-wrapper {
  padding-top: rem(34);

  @include tablets {
    padding-top: rem(47);
  }
}

.sec-5 {
  padding-bottom: rem(25);
}

.sec-5-title-wrapper {
  width: col(9);
  @include push-tablets;
}

.sec-5-content {
  @include tablets {
    justify-content: space-between;
    align-items: center;
  }
}
.sec-5-title-main {
  @extend %font-line-31;
  padding-left: rem(40);
  margin-bottom: rem(35);
  width: col(10);
  text-transform: uppercase;

  @include tablets {
    width: col(12);
    padding-left: 0;
  }
}

.sec-5-subtitle {
  @extend %subtitle-simple;
  position: relative;
  padding-left: rem(40);
  @include title-line-litle;
  margin-bottom: rem(40);
  @extend %font-line-22;

  @include tablets {
    margin-bottom: 0;
  }

  @include desktop {
    width: col(12);
  }
}

.sec-5-subtitle-span-dark {
  background-color: #000;
  color: #fff;
  padding-right: rem(5);
  padding-left: rem(3);
}
