.main-title-block__btn {
  display: none;
}

.main-text-block,
.main-title-block {
  .wave-btn__link {
    &:hover .wave-btn__text {
      color: $main-white-color;
    }
  }
  & .wave-btn__waves {
    &:before {
      background-color: rgba($bg-header-footer-color, 0.9);
    }

    &:after {
      background-color: rgba($bg-header-footer-color, 0.5);
    }
  }
}

.main-title-block {
  .wave-btn {
    display: none;

    @include tablets {
      display: block;
      margin-bottom: rem(96);
    }
  }
}

.main-text-block {
  .wave-btn__link {
    margin: 0 auto;

    @include tablets {
      display: none;
    }
  }
}
