.top-header {
  // TODO position fixed to scrol
  // position: fixed;
  position: absolute;
  width: 100%;
  @include content-center-flex;
  z-index: 100;

  &__inner {
    @include content-between-flex;
    width: 100%;
    padding: rem(14);


    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 0 auto;
      width: rem(642);
      padding: rem(14) rem(10);
    }

    @include desktop {
      padding: rem(25) rem(32);
    }

    @media screen and (min-width: 1920px) {
      width: rem(1820);
      padding: rem(25) rem(0);
    }

    &__main-title-block {
      padding-top: rem(50);
    }
  }
}

.top-logo {
  @include transition;
}

.top-logo:focus {
  transform: scale(1.1);
  outline-color: $stylish-color-orange;
}

.bur-menu {
  position: relative;
  width: rem(20);
  height: rem(20);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  &__line {
    position: relative;
    width: rem(17);
    height: rem(3);
    display: block;
    background-color: $main-white-color;

    @include tablets {
      width: rem(10);
      height: rem(2);
    }

    &::before,
    &::after {
      @include pseudo;
      position: absolute;
      height: rem(3);
      background-color: $main-white-color;
      border-radius: rem(1);

      @include tablets {
        height: rem(2);
      }
    }

    &::before {
      width: rem(22);
      right: 0;
      top: rem(-8);

      @include tablets {
        width: rem(13);
        top: rem(-5);
      }
    }

    &::after {
      width: rem(28);
      right: 0;
      bottom: rem(-8);

      @include tablets {
        width: rem(17);
        bottom: rem(-5);
      }
    }
  }
}
