.sec-11-title-main {
    margin-bottom: rem(20);
}

.sec-11-subtitle {
    @include title-line-litle;
    padding-left: rem(30);
    position: relative;
    @include push--auto;
    width: col(8);
    @include tablets {
        margin-left: 0;
        margin-right: 0;
    }

    &::before {
        top: rem(10);
    }
}

.sec-11-title-text {
    margin-bottom: rem(15);
    @include tablets {
        margin-bottom: rem(30);
    }
}

@media (max-width: 767px) {
    .sec-11-top-block {
        display: flex;
        flex-flow: wrap;
    }
    .sec-11-title-main {
        order: 1;
    }
    .sec-11-img-block {
        order: 2;
        margin-bottom: rem(60);
    }
    .sec-11-subtitle {
        order: 3;
        margin-bottom: rem(45);
    }
    .sec-11-text {
        margin-bottom: rem(40);
    }
}
.sec-11-list-items {
    list-style: none;
    // @include push--auto;
    // width: col(8);
    // @include tablets {
    //     margin-right: 0;
    //     margin-left: 0;
    // }
}

.sec-11-dark-title {
    font-size: rem(12.35);
    font-weight: 500;
    line-height: rem(16.21);
    color: #fff;
    margin-bottom: rem(30);
}

.sec-11-dark-title-span {
    background-color: #000;
    padding: 0 rem(2);
}

.sec-11-item-title {
    margin-bottom: rem(10);
    width: col(7);
    position: relative;
}

.sec-11-item-text {
    margin-bottom: rem(40);
}

.sec-11-text-span {
    font-weight: 800;
    display: block;
}

.sec-11-text-block {
    @include push--auto;
    width: col(8);
    @include tablets {
        margin-right: 0;
        margin-left: 0;
    }
}

.sec-11-list-item {
    position: relative;
    @include push--auto;
    width: col(8);
    @include tablets {
        margin-right: 0;
        margin-left: 0;
    }
}

.sec-11-bg__img-01 {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    max-width: 100%;
    height: 70px;
}

.sec-11-bg__img-02 {
    height: auto;
    position: absolute;
    top: rem(45);
    left: 100%;
    transform: translateX(-100%);
    max-width: 100%;
    height: 134px;
}

.sec-11-bg__img-03 {
    height: auto;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    max-width: 100%;
    height: 110px;
}

.sec-11-top-block {
    @include tablets {
        margin-bottom: rem(60);
    }
}

.sec-11-content__photo-06 {
    max-width: 100%;
    height: auto;
}
