.main-text-block {
  margin: 0 auto;
  padding-bottom: rem(40);
  max-width: rem(370);
  font-size: rem(13.5);
  line-height: rem(19.5);
  text-align: center;

  @include phones {
    text-align: left;
  }

  &__title {
    font-size: rem(13.5);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__subtitle {
    margin-bottom: rem(38);
    font-weight: 400;
    color: $decs-header-footer-color;
  }

  &__btn {
    & .wave-btn__link {
      margin: 0 auto;
    }
  }
}
