.soc-list,
.soc-list-fluid {
  &__item {
    margin-right: rem(20);

    &:last-child {
      margin-right: rem(0);
    }
  }

  &__icon {
    width: rem(20);
    height: rem(17);
    fill: $main-white-color;
    @include transition;

    &:hover {
      fill: $stylish-color-orange;
      transform: scale(1.25);
    }
  }
}

.soc-list,
.soc-list-fluid {
  display: none;
}

.soc-list {
  position: absolute;
  bottom: -146px;
  right: 0;

  @include tablets {
    display: flex;
  }
}
.soc-list-fluid {
  @include desktop {
    display: flex;
  }
}
