.soc-list__item,
.soc-list-fluid__item {
  margin-right: rem(20);

  &:last-child {
    margin-right: rem(0);
  }
}

.soc-list__icon,
.soc-list-fluid__icon {
  width: rem(11);
  height: rem(11);
  fill: $main-white-color;
  @include transition;

  &:hover {
    fill: $stylish-color-orange;
    transform: scale(1.25);
  }
}

.soc-list,
.soc-list-fluid {
  display: none;
}

.soc-list {
  position: absolute;
  bottom: rem(156);
  right: 0;
  // z-index: 20;

  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   display: flex;
  // }
}

.soc-list-fluid {
  order: 2;
  
  @include desktop {
    display: flex;
  }
}
