.sec-12-title-main {
    padding-bottom: rem(25);
}

.sec-12-subtitle {
    @include title-line-litle;
    padding-left: rem(25);
    position: relative;
    padding-bottom: rem(40);

    &::before {
        top: rem(10);
        width: rem(15);
    }
}

.sec-12-subtitle-span {
    background-color: $stylish-color-cyan;
    padding-right: rem(3);
}

.sec-12-list-item {
    padding-bottom: rem(30);
    position: relative;
    @include square-list-7x7;
    &::before {
        top: rem(7);
    }
    &:last-child {
        padding-bottom: 0;
    }
}
.sec-12-list-items {
    padding-top: rem(35);
    padding-bottom: rem(60);
    padding-left: rem(20);
}
