// ! top-header
.top-header {
  // TODO position fixed to scrol
  // position: fixed;
  position: absolute;
  @include сenter-x;
  padding: rem(17) 0;
  width: 100%;
  min-height: rem(40);
  z-index: 100;
}

.top-header__inner {
  // @include сenter-xy;
  // padding: 0 rem(17);
}

.container-f {
  padding: 0 rem(17);
  width: 100%;
  @include push--auto;
  justify-content: space-between;
  align-items: center;

  @include phones {
    max-width: rem(480);
  }

  @include tablets {
    max-width: rem(677);
  }

  @include desktop {
    padding: 0 rem(30);
    width: 100%;
    max-width: 1350px;
  }
}

.top-logo {
  @include transition;

  &:focus {
    transform: scale(1.1);
    outline-color: $stylish-color-orange;
  }
}

.bur-menu {
  position: relative;
  width: rem(30);
  height: rem(18);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  &:hover .bur-menu__line,
  &:hover::before,
  &:hover::after {
    background-color: $stylish-color-orange;
  }

  @include tablets {
    width: rem(15);
    height: rem(10);
  }

  @include desktop {
    width: rem(20);
  }

  &::before,
  &::after {
    @include pseudo;
    position: absolute;
    height: 3px;
    background-color: $main-white-color;
    @include transition;

    @include tablets {
      height: 2px;
    }
  }

  &::before {
    width: 85%;
    right: 0;
    top: 0;

    @include tablets {
      top: rem(-1);
    }
  }

  &::after {
    width: 100%;
    right: 0;
    bottom: rem(1);

    @include tablets {
      bottom: rem(-1);
    }
  }
}

.bur-menu__line {
  position: relative;
  width: 70%;
  height: 3px;
  display: block;
  background-color: $main-white-color;
  @include transition;

  @include tablets {
    height: 2px;
  }
}
