.sec-6-wrapper {
  position: relative;
  padding: rem(25) 0 rem(50);
}

.sec-6-inner-1 {
  justify-content: space-between;
  align-items: center;

  @include tablets {
    position: relative;

    @include desktop {
      align-items: flex-end;
    }

    &::before {
      content: 'Hard';
      position: absolute;
      top: rem(118);
      left: rem(28);
      font-size: rem(140.24);
      font-weight: 800;
      text-transform: uppercase;
      transform: rotate(90deg);
      color: $bg-text;
      z-index: -1;

      @include desktop {
        top: rem(135);
        left: rem(50);
      }
    }
  }
  
  .big-size {
    margin-left: col(1);
  }

  & img {
    z-index: 1;
  }
}

.sec-6-title-wrappre {
  @include push--auto;
  margin-bottom: rem(40);
  width: col(8);

  @include tablets {
    @include push--0;
    margin-bottom: rem(30);
  }
}

.sec-6-title-main {
  padding-left: rem(30);
  margin-bottom: rem(20);

  @include tablets {
    padding-left: 0;
    margin-bottom: rem(15);
  }
}

.sec-6-subtitle {
  width: 90%;
  padding-left: rem(30);

  &::before {
    content: '';
    position: absolute;
    top: rem(8);
    left: 0;
    display: block;
    height: rem(3);
    width: rem(20);
    background-color: $main-text-color;
  }
}

.sec-6-list-items {
  width: col(9);
  @include push--auto;

  @include tablets {
    @include push--0;
  }
}

.sec-6-list-item {
  list-style-type: none;
  padding-left: rem(19);
  line-height: rem(20);
  margin-bottom: rem(20);
  font-size: rem(13.5);

  @include tablets {
    margin-bottom: rem(15);
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.sec-6-list-item-title {
  position: relative;
  @include square-list-7x7(5px, 5px, #000, rem(-19), rem(7));
  @extend %font-line-8;

  @include tablets {
    @include square-list-7x7($left: rem(-19), $top: rem(4));
    margin-bottom: rem(6);
  }
}

.sec-6-list-item-text {
  @extend %font-line-7;
}
