.main-title-block {
  margin-bottom: rem(96);
  min-width: rem(300);
  text-align: center;
  text-transform: uppercase;

  @include phones {
    margin-bottom: rem(150);
  }

  @include tablets {
    margin-bottom: 0;
    min-width: rem(380);
    text-align: left;
  }

  &__title {
    margin: 0 auto;
    margin-bottom: rem(35);
    max-width: rem(350);
    font-size: rem(30);
    font-weight: 800;
    line-height: rem(39);

    @include tablets {
      margin-left: rem(0);
      margin-right: rem(0);
      max-width: rem(370);
      font-size: rem(45);
      line-height: rem(56.08);
    }
  }

  &__sub-title {
    position: relative;
    margin: 0 auto;
    max-width: rem(260);
    font-size: rem(13.5);
    font-weight: 700;
    line-height: rem(19.5);
    letter-spacing: -0.025em;

    @include phones {
      max-width: rem(380);
    }

    @include tablets {
      margin: 0;
      margin-bottom: rem(28);
      margin-left: rem(55);
      max-width: rem(180);
      font-size: rem(8);
      line-height: rem(13.46);
      letter-spacing: 0em;
    }

    &::before,
    &::after {
      @include pseudo;
      position: absolute;
    }

    &::before {
      top: rem(4);
      left: rem(-16);
      width: rem(10);
      height: rem(10);
      background-image: url(../images/icons/icon_parentheses-left.svg);
      background-repeat: no-repeat;
      background-position: center;

      @include tablets {
        top: rem(2);
        width: rem(8);
        height: rem(8);
      }
    }

    &::after {
      bottom: rem(2);
      right: rem(-15);
      width: rem(20);
      height: rem(16);
      background-image: url(../images/icons/icon_parentheses-right.svg);
      background-repeat: no-repeat;
      background-position: center;

      @include phones {
        right: rem(-30);
      }

      @include tablets {
        right: rem(-10);
        width: rem(12);
        height: rem(10);
      }
    }
  }
}

.title-line-r {
  position: relative;
  padding-right: rem(3);

  &::after {
    content: '';
    position: absolute;
    top: rem(19);
    right: rem(-9);
    display: inline-block;
    width: rem(8);
    height: rem(3);
    background-color: $main-white-color;
  }
}

@include tablets {
  .title-line-l {
    position: relative;
    display: block;
  }

  .title-line-l::before {
    content: '';
    display: inline-block;
    position: relative;
    margin-right: rem(22);
    top: rem(-13);
    left: rem(0);
    width: rem(56);
    height: rem(6);
    background-color: $main-white-color;
  }

  .title-line-r::after {
    top: rem(25);
    right: rem(-70);
    width: rem(44);
    height: rem(6);
  }
}
