.sec-13-wrapper {
  padding-top: rem(50);
  padding-bottom: rem(25);
  @include tablets {
    padding-bottom: rem(46);
  }
}

.sec-13-grid-wrapper {
  justify-content: space-between;
}

.sec-13-title {
  @include push-tablets;
  width: col(6);
  margin-bottom: rem(25);
  @include tablets {
    margin-bottom: 0;
  }
}

.sec-13-title-main {
  margin-bottom: rem(20);
}

.sec-13-subtitle {
  position: relative;

  @include title-line-litle;
  padding-left: rem(25);
  @include tablets {
    padding-left: rem(45);
  }
  
  &::before {
    top: rem(7);
    width: rem(15);
    @include tablets {
      width: rem(29);
    }
  }
}

.sec-13-text-block {
  @include push-tablets;
  margin-top: rem(40);
  width: col(6);
  @include tablets {
    margin-top: 0;
    margin-left: rem(33);
  }
}

.sec-13-text-title {
  margin-bottom: rem(10);
}
