.sec-8-wrapper {
    padding: rem(30) 0;
}

.sec-8-top-block {
    margin-bottom: rem(25);

    @include tablets {
        margin-bottom: 0;
        justify-content: space-between;
        // align-items: center;
    }
}

.sec-8-subtitle {
    @include title-line-litle;
    padding-left: rem(40);

    @include tablets {
        width: col(10);
    }

    &::before {
        top: rem(10);
    }
}

.sec-8-title {
    width: col(9);
}

.sec-8-title-main {
    margin-bottom: rem(10);
    margin-top: rem(25);
    padding-left: rem(25);
}

.sec-8-text-title {
    @include square-list-7x7;
    position: relative;
    font-size: rem(14.54);
    line-height: rem(22.85);
    padding-left: rem(25);
    margin: rem(20) 0;

    @include tablets {
        padding-left: 0;
    }

    &::before {
        top: rem(10);
        left: rem(0);

        @include tablets {
            top: rem(-18);
        }
    }
}

.sec-8-bottom-block {
    @include tablets {
        position: relative;
        top: rem(-22);
        justify-content: space-between;
        align-items: center;
    }
}

.sec-8-text {
    @include tablets {
        width: 92%;
    }
}
