.after-list-sec-15 {
   text-align: center;
}

.after-list__text--sec-15 {
   
   
   &::after {
      content: "/";
      font-size: rem(35);
      position: absolute;
      display: block;
      color: $main-text-color;
      top: rem(-8);
      left: rem(5);
      transform: rotate(10deg);
   }
}


.after-list__button {
   background-color: $stylish-color-orange;
   display: inline-block;
   width: rem(215);
   height: rem(45);
   margin-top: rem(30);
}

