.sec-7-wrapper {
    padding: rem(40) 0;
}

.sec-7-top-part {
    justify-content: space-between;
}

.sec-7-title-wrappre {
}

.sec-7-title-main {
    margin-bottom: rem(15);
}
.sec-7-subtitle {
    @include title-line-litle;
    @extend %subtitle-simple;
    padding-left: rem(40);
    margin-bottom: rem(30);

    &::before {
        top: rem(10);
    }
}

.sec-7-text-block-title {
    @extend %title-basic-revers;
    font-size: rem(13.5);
    line-height: rem(19.5);
    font-weight: 800;
    padding: rem(15) 0;
}

.sec-7-title-span {
    background: #000;
    padding-right: rem(5);
}

.sec-7-text-block-text-bold {
    font-size: rem(13.5);
    line-height: rem(19.5);
    font-weight: 700;
    padding-bottom: 15px;
}
.sec-7-text-block-text-normal {
    font-size: rem(13.5);
    line-height: rem(19.5);
    font-weight: 400;
    padding-bottom: 40px;
}

.sec-7-bottom-part {
    align-items: flex-start;
}

@media (max-width: rem(767)) {
    .sec-7-bottom-part {
        // display: flex;
        // flex-flow: wrap;
    }

    .sec-7-text-block-01 {

        // order: 1;
    }

    .sec-7-content__photo-04 {
        // order: 2;
    }

    .sec-7-text-block-02 {
        // order: 3;
    }
}
