.sec-17 {
   padding-top: rem(45);
   padding-bottom: rem(45);
}


.wrapper-all-section {
   align-items: flex-start;
}

.sec-15-title__wrapper {
   justify-content: flex-start;
}

.sec-17-title__main {
  @include push--auto;
  width: col(8);
}

.sec-17-subtitle {
   width: col(7);
   margin-top: rem(20);
   padding-left: rem(40);
   @include push--auto;
   @include title-line-litle 
      &:before {
         top: rem(10);
   
      }
   @include tablets {
      margin: 0;
      margin-top: rem(20);
      @include title-line-big
   }
}

.sec-title__main--black {
   color: $main-white-color;
   background-color: $main-text-color;
   padding-right: rem(5);
}

.numeral-list-sec-17{
   margin-top: rem(60);
   @include tablets {
      align-items: flex-start;
      margin: 0;
      margin-top: rem(40);
   }
}




.numeral-list__item--sec-17{
   @include tablets {
      margin: 0;
      &:nth-of-type(n+2){
         margin-top: rem(20);
      }
   }   
}


.modal-window {
   box-shadow: $main-box-shadow;
   padding: rem(62);
   margin-top: rem(28);
   margin-bottom: rem(45);
   width: col(10);
   @include push--auto;
   @include tablets {
      padding:rem(55);
   }
}

.numeral-list__text--sub-text-black {
   color: $main-white-color;
   background-color: $main-text-color;
}

.buy-course__label {
   font-size: rem(8);
   font-family: $font-first;
   color: rgba(0, 0, 0, 0.361);
   font-weight: 700;
   line-height: rem(11);
}

.buy-course__input {
   margin-top: rem(8);
   margin-bottom: rem(20);
   width: rem(240);
   display: block;
   padding-top: rem(8);
   padding-bottom: rem(8);
   border: none;
   border-bottom: rem(1) solid $form-input-underline;
      @include tablets {
         width: rem(200);
      }

   &::placeholder {
      font-size: rem(9.3);
      font-family: $font-first;
      color: $main-text-color;
      line-height: rem(12);
      font-weight: 500;
   }
}

.buy-course__button {
   background-color: $stylish-color-orange;
   display: inline-block;
   width: col(9);
   height: rem(40);
   margin-top: rem(30);
   @include all-btn; 
   font-size: rem(8); 
   text-decoration: none;
   border: none;
      @include tablets {
         height: rem(32);
         font-size: rem(6.7);
      }
}
