.bot-content {
  position: relative;
  padding: 0 rem(17);
  width: rem(677);
  @include сenter-x;
  bottom: rem(32);
  z-index: 5;

  @include desktop {
    width: rem(1129);
  }
}

.bot-content-wrapper {
  justify-content: space-between;
  align-items: center;
}

.soc-list,
.soc-list-fluid {
  display: none;
}

.soc-list-fluid {
  @include desktop {
    @include content-center-flex;
  }
}

.soc-list-fluid,
.soc-list__item {
  margin-right: rem(10);

  &:last-child {
    margin-right: rem(0);
  }
}

.soc-list__icon,
.soc-list-fluid__icon {
  width: rem(11);
  height: rem(11);
  fill: $main-white-color;
  @include transition;

  &:hover {
    fill: $stylish-color-orange;
    transform: scale(1.25);
  }
}

.soc-list {
  position: absolute;
  bottom: rem(156);
  right: 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }
}
