.sec-3__wrapper {
  padding-top: rem(79);
  margin-bottom: rem(45);
  @include tablets {
    padding-top: rem(57);
  }
}

.sec-3-title__wrapper {
  margin-bottom: rem(35);
  width: col(8);
  @include push--auto;
  @include tablets {
    @include push--0;
  }
}

.sec-3-subtitle {
  position: relative;
  padding-left: rem(30);
  // font-family: $font-first;
  // font-size: rem(13.5);

  &::before {
    content: "";
    position: absolute;
    top: rem(8);
    left: 0;
    display: block;
    height: rem(3);
    width: rem(20);
    background-color: $main-text-color;
  }
}

.sec-3-title__main {
  margin-bottom: rem(35);
  padding-left: rem(30);
  @include tablets {
    padding-left: 0;
  }
  
}

.sec-3-list__items {
  list-style-type: none;
  padding-left: rem(40);
}

.sec-3-list__title {
  @extend %title-basic;
  font-size: rem(18);
  padding: rem(10) 0;
  @include square-list-orange;
  position: relative;
}

.list__title-span {
  font-weight: 800;
  font-size: rem(12);
}

.sec-3-list__text-blue {
  background-color: $stylish-color-cyan;
  font-family: $font-first;
  font-weight: 700;
  font-size: rem(13.5);
  display: inline-block;
  padding-right: rem(4);
  line-height: rem(16);
  display: inline-block;
}

.sec-3-list__text {
  padding-top: rem(10);
}
