// ! sec-1
.sec-1 {
  position: relative;
  background: url(../images/bg/480/bgt.png), $bg-header-footer-color;
  background-repeat: no-repeat;
  background-position: top;
  color: $main-white-color;
  z-index: 0;

  @include retina2x {
    background-image: url(../images/bg/480/bgt@2x.png);
  }

  @include retina3x {
    background-image: url(../images/bg/480/bgt@3x.png);
  }

  &::after {
    @include сenter-xy;
    content: 'GoIt';
    font-family: 'Acrom', sans-serif;
    font-size: rem(100);
    font-weight: 800;
    text-transform: uppercase;
    color: $go-it-header-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include phones {
      font-size: rem(120);
    }

    @include tablets {
      font-size: rem(235.53);
    }
  }
}

// ! title-wrapper
.sec-1-title-wrapper {
  position: relative;
  padding-top: rem(60);
  z-index: 5;

  @include tablets {
    padding-top: rem(80);
    min-height: rem(475);
    background-image: url(../images/bg/bg_photo-top-sec.png);
    background-repeat: no-repeat;
    background-size: 71%;
    background-position: bottom rem(-210) right 0px;

    @include retina2x {
      background-image: url(../images/bg/bg_photo-top-sec@2x.png);
    }

    @include retina3x {
      background-image: url(../images/bg/bg_photo-top-sec@3x.png);
    }
  }

  @include desktop {
    min-height: 531px;
    background-size: 72%;
    background-position: bottom rem(-227) right 0px;
  }
}

