.sec-10 {
  padding-top: rem(25);
  padding-bottom: rem(45);
}

.sec-10-wrap {
  // width: rem(378);
  // margin: 0 auto;
}

.sec-10-title {
  // width: rem(285);
  // margin: 0 auto;
  font-size: rem(10.5);
  font-family: $font-first;
  font-weight: 800;
  padding-bottom: rem(36);
  text-transform: uppercase;
  line-height: rem(16.5);
}

.sec-10-list {
  list-style-type: none;
  // width: rem(285);
  // margin: 0 auto;
  padding-left: rem(28);
}

.sec-10-list_item {
  display: block;
  position: relative;
  line-height: rem(20.31);

  &::before {
    display: block;
    content: '[ 001 ]';
    position: absolute;
    font-size: rem(13);
    font-family: $font-first;
    font-weight: 700;
    color: $main-white-color;
    text-align: center;
    width: rem(55);
    height: rem(15);
    background-color: $stylish-color-orange;
    top: rem(19);
    left: rem(-50);
    transform: rotate(-90deg);
  }
}

.two-numb::before {
  content: '[ 002 ]';
}

.three-numb::before {
  content: '[ 003 ]';
}

.four-numb::before {
  content: '[ 004 ]';
}

.five-numb::before {
  content: '[ 005 ]';
}

.six-numb::before {
  content: '[ 006 ]';
  top: rem(30);
}

.sec-10-title_item {
  margin: 0;
  padding: 0;
  color: $main-text-color;
  font-size: rem(13);
  font-family: $font-first;
  font-weight: 700;
  padding-bottom: rem(15);
}

.sec-10-item_text {
  color: $desc-text-color;
  font-size: rem(13);
  font-family: $font-first;
  font-weight: normal;
  padding-bottom: rem(30);
}

.sec-10-note_text {
  font-size: rem(13.5);
  font-family: $font-first;
  font-weight: 500;
  color: $stylish-color-orange;
  position: relative;
  padding-left: rem(28);
  &::before {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    content: '/';
    color: $main-text-color;
    font-size: rem(30);
    font-weight: 600;
    top: rem(-5);
    left: rem(-3);
  }
}

.click {
  display: block;
  // width: rem(215);
  // margin: 0 auto;
  height: rem(50);
  margin-top: rem(38);
  border: none;
  text-transform: uppercase;
  font-family: $font-first;
  font-weight: 800;
  background-color: $stylish-color-orange;
  color: $main-white-color;
  font-size: rem(11);
}

.link_click {
  text-transform: uppercase;
  text-decoration: none;
}
