.sec-14-title-main {
  padding-bottom: rem(25);
}

.sec-14-title-span {
  background-color: #000;
  padding: 0 rem(10);
}

.sec-14-subtitle {
  @include title-line-litle;
  padding-left: rem(40);
  position: relative;
  padding-bottom: rem(60);

  &::before {
    top: rem(10);
  }
}

.sec-14-orange-text {
  padding: rem(25) 0;
  position: relative;
  padding-left: rem(25);
  &::before {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    content: "/";
    color: $main-text-color;
    font-size: rem(20);
    font-weight: 600;
    top: rem(25);
    left: rem(0);
  }
}

.sec-14 {
  padding-top: rem(25);
  padding-bottom: rem(45);
}

.title-sec {
  text-align: left;
  font-size: rem(13.5);
  font-family: $font-first;
  font-weight: 800;
  margin-bottom: rem(33);
  text-transform: uppercase;
  line-height: rem(19.5);

  @include tablets {
    width: col(2.5);
    line-height: rem(20.19);
    margin-left: rem(0);
    margin-bottom: rem(20);
  }
}

.lane {
  @include tablets {
    margin-top: rem(7);
    margin-left: rem(50);
  }
}
