.sec-18 {
}
.sec-18-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sec-18-title {
  font-family: $font-first;
  font-size: rem(18);
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}
.price-block {
  display: flex;
  justify-content: center;
  width: rem(300);
  height: rem(274);
  border: rem(1) solid #d1d2d4;
}
.sec-18-subtitle {
  min-width: rem(300);
}
.sec-18-about {
}
.sec-18-note {
}
.sec-18-btn {
}
