.sec-3__wrapper {
  padding-top: rem(39.5);
  padding-bottom: rem(25);
  @include tablets {
    justify-content: space-between;
    padding-bottom: rem(20);
    background: url(../images/bg/768/bg_graph-768.png);
    background-repeat: no-repeat;
    background-position: bottom rem(10) right rem(-33);
  }
  @include retina2x {
    background: url(../images/bg/768/bg_graph-768@2x.png);
    background-repeat: no-repeat;
    background-position: bottom rem(40) right rem(-33);
    background-size: rem(259);
  }
  @include retina3x {
    background: url(../images/bg/768/bg_graph-768@3x.png);
    background-repeat: no-repeat;
    background-position: bottom rem(40) right rem(-33);
    background-size: rem(259);
  }
  @include desktop {
    padding-bottom: rem(20);
    background: url(../images/bg/768/bg_graph-768.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom rem(6) right rem(-50);
  }
}

.sec-3__grid-wrapper {
  justify-content: space-between;
}

.sec-3-title__wrapper {
  @include push--auto;
  margin-bottom: rem(45);
  width: col(8);
  @include tablets {
    margin: 0;
  }
}

.sec-3-subtitle {
  position: relative;
  padding-left: rem(30);
  // font-family: $font-first;
  // font-size: rem(13.5);

  &::before {
    content: '';
    position: absolute;
    top: rem(8);
    left: 0;
    display: block;
    height: rem(3);
    width: rem(20);
    background-color: $main-text-color;
  }
}

.sec-3-title__main {
  margin-bottom: rem(35);
  padding-left: rem(30);
  @include tablets {
    margin-bottom: rem(24);
    padding-left: 0;
  }
}

// НУЖНО ДОБАВИТЬ на 768 маржины первому и последнему li ! ! ! !
.sec-3__list {
  &:not(:first-child) {
    margin-top: rem(28);
  }
  @include tablets {
    &:not(:first-child) {
      margin-top: 0;
    }
    &:first-child,
    &:last-child {
      margin-bottom: rem(21);
    }
  }
}

.sec-3-list__items {
  list-style-type: none;
  padding-left: rem(40);
  @include tablets {
    justify-content: space-around;
    padding-left: 0;
    & li {
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 4;
      }
      &:nth-child(3) {
        order: 3;
      }
      &:nth-child(4) {
        order: 2;
      }
    }
  }
}

.sec-3-list__title {
  @extend %title-basic;
  margin-bottom: rem(12);
  font-size: rem(23);
  line-height: 1;
  @include square-list-orange;
  position: relative;
  @include tablets {
    font-size: rem(16.82);
    &::before {
      display: none;
    }
  }
}

.list__title-span {
  font-weight: 800;
  font-size: rem(13);
  line-height: 1;
  @include tablets {
    font-size: rem(8.97);
  }
}

.sec-3-list__text-blue {
  background-color: $stylish-color-cyan;
  font-family: $font-first;
  font-weight: 700;
  font-size: rem(13.5);
  display: inline-block;
  padding-right: rem(4);
  line-height: rem(19.5);
  display: inline-block;
  @include tablets {
    font-size: rem(7.85);
    line-height: rem(13.46);
  }
}

.sec-3-list__text {
  margin-top: rem(10);
}
