.title-main {
    color: #000;
    font-size: rem(18);
    font-family: $font-first;
    line-height: rem(24);
    font-weight: 800;
    text-transform: uppercase;
    @include tablets {
        font-size: rem(27);
        line-height: rem(36);
    }
}

.title-main-revers {
    color: #fff;
    font-size: rem(18);
    font-family: $font-first;
    line-height: rem(24);
    font-weight: 700;
    text-transform: uppercase;
    @include tablets {
        font-size: rem(27);
        line-height: rem(33.65);
    }
}

.subtitle {
    font-size: rem(13.5);
    font-weight: 700;
    font-family: $font-first;
    line-height: rem(19.5);
    position: relative;
    @include tablets {
        font-size: rem(8.97);
        line-height: rem(13.46);
    }
}

.list-title {
    color: #000;
    font-size: rem(13.5);
    font-family: $font-first;
    line-height: rem(19.5);
    font-weight: 800;
    text-transform: uppercase;
    @include tablets {
        font-size: rem(8.97);
        line-height: rem(13.46);
    }
}

.list-title-revers {
    color: #fff;
    font-size: rem(13.5);
    font-family: $font-first;
    line-height: rem(19.5);
    font-weight: 800;
    text-transform: uppercase;
    padding-right: rem(5);
    @include tablets {
        font-size: rem(8.97);
        line-height: rem(13.46);
    }
}

.simple-text {
    color: $desc-text-color;
    font-size: rem(13.5);
    font-family: $font-first;
    line-height: rem(19.5);
    font-weight: 400;
    @include tablets {
        font-size: rem(7.85);
        line-height: rem(11.78);
    }
}

.simple-text-bold {
    color: $desc-text-color;
    font-size: rem(13.5);
    font-family: $font-first;
    line-height: rem(19.5);
    font-weight: 800;
}

.orange-text {
    color: $stylish-color-orange;
    font-size: rem(13.5);
    font-family: $font-first;
    line-height: rem(19.5);
    font-weight: 700;
    @include tablets {
        font-size: rem(8.98);
        line-height: rem(13.46);
    }
}

.style-none {
    list-style: none;
}
